In [16]:
import sqlalchemy
import pandas as pd
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [5]:
engine = create_engine('postgresql://<pg_name>:<pg_pw>@localhost:5432/EmployeeHW')
#//username:password@host:port/database
#engine = create_engine('postgresql://localhost:5432/<your_db_name>')
#engine = create_engine("postgresql+psycopg2://scott:tiger@host/dbname")
connection = engine.connect()

In [6]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [7]:
# Collect the names of tables within the database
inspector.get_table_names()

['titles', 'employees', 'salaries', 'dept_emp', 'dept_mgr', 'departments']

In [8]:
# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['titles', 'employees', 'salaries', 'departments', 'dept_mgr']

In [9]:
# Create classes
Titles = Base.classes.titles
Employees = Base.classes.employees
Salaries = Base.classes.salaries

In [11]:
# Create a session
session = Session(engine)

In [21]:
emps = session.query(Employees, Titles).filter(Employees.emp_title_id == Titles.title_id).limit(100).all()

for record in emps:
    (id, title) = record
    print(f"id: {id.emp_no} title: {title.title}")

id: 473302 title: Staff
id: 475053 title: Engineer
id: 57444 title: Engineer
id: 421786 title: Staff
id: 282238 title: Senior Engineer
id: 263976 title: Senior Engineer
id: 273487 title: Staff
id: 461591 title: Senior Staff
id: 477657 title: Engineer
id: 219881 title: Senior Staff
id: 29920 title: Engineer
id: 208153 title: Senior Engineer
id: 13616 title: Senior Engineer
id: 246449 title: Staff
id: 21529 title: Engineer
id: 17934 title: Technique Leader
id: 48085 title: Staff
id: 239838 title: Engineer
id: 240129 title: Technique Leader
id: 205246 title: Senior Staff
id: 476443 title: Staff
id: 424270 title: Staff
id: 71530 title: Senior Engineer
id: 427958 title: Staff
id: 280408 title: Staff
id: 104639 title: Senior Engineer
id: 214555 title: Senior Engineer
id: 229010 title: Staff
id: 35916 title: Senior Engineer
id: 61583 title: Senior Engineer
id: 67799 title: Engineer
id: 37061 title: Staff
id: 411412 title: Senior Engineer
id: 422587 title: Senior Engineer
id: 35270 title: Technique Leader
id: 105597 title: Senior Staff
id: 244689 title: Staff
id: 48885 title: Senior Engineer
id: 244492 title: Senior Engineer
id: 215615 title: Engineer
id: 95280 title: Senior Engineer
id: 37473 title: Staff
id: 43471 title: Engineer
id: 289261 title: Staff
id: 26941 title: Senior Engineer
id: 465253 title: Senior Engineer
id: 444985 title: Staff
id: 299898 title: Staff
id: 492723 title: Senior Engineer
id: 425023 title: Senior Engineer
id: 411614 title: Senior Engineer
id: 425656 title: Staff
id: 252000 title: Assistant Engineer
id: 477628 title: Staff
id: 103676 title: Senior Engineer
id: 93916 title: Engineer
id: 430653 title: Senior Engineer
id: 293744 title: Staff
id: 222134 title: Senior Engineer
id: 465348 title: Engineer
id: 92149 title: Staff
id: 406318 title: Senior Engineer
id: 259126 title: Staff
id: 42625 title: Staff
id: 85093 title: Senior Staff
id: 281320 title: Senior Engineer
id: 402202 title: Technique Leader
id: 419277 title: Technique Leader
id: 451259 title: Staff
id: 225842 title: Engineer
id: 62038 title: Staff
id: 256701 title: Senior Engineer
id: 205366 title: Senior Staff
id: 101013 title: Senior Engineer
id: 212882 title: Staff
id: 21620 title: Staff
id: 223670 title: Senior Engineer
id: 209422 title: Engineer
id: 403328 title: Senior Engineer
id: 292694 title: Senior Engineer
id: 483560 title: Staff
id: 270554 title: Staff
id: 37601 title: Staff
id: 437985 title: Staff
id: 14097 title: Staff
id: 221689 title: Senior Engineer
id: 62117 title: Senior Engineer
id: 213813 title: Staff
id: 28823 title: Staff
id: 284330 title: Engineer
id: 107258 title: Staff
id: 209527 title: Staff
id: 207774 title: Staff
id: 11980 title: Staff
id: 270258 title: Senior Engineer
id: 492191 title: Engineer
id: 457800 title: Staff
id: 446142 title: Senior Engineer
id: 201769 title: Technique Leader
id: 56049 title: Staff

In [17]:
# Merge the columns (Must be declaritive)
combined_data = pd.merge(Employees, Titles , on="emp_no", how="inner")
combined_data = pd.merge(combined_data, Salaries, on="emp_no", how="inner")
combined_data

TypeError: Can only merge Series or DataFrame objects, a <class 'sqlalchemy.ext.declarative.api.DeclarativeMeta'> was passed

In [14]:
#Easter egg
me = session.query(Employees).filter(Employees.emp_no == 499942)