In [1]:
import sqlalchemy
import pandas as pd
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [2]:
engine = create_engine('postgresql://<pg_user>:<pg_pw>@localhost:5432/EmployeeHW')
connection = engine.connect()

In [3]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [4]:
# Collect the names of tables within the database
inspector.get_table_names()

['titles', 'employees', 'salaries', 'dept_emp', 'dept_mgr', 'departments']

In [5]:
# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['titles', 'employees', 'salaries', 'departments', 'dept_mgr']

In [8]:
# Create classes
Titles = Base.classes.titles
Employees = Base.classes.employees
Salaries = Base.classes.salaries

In [9]:
# Create a session
session = Session(engine)

In [16]:
emps = session.query(Employees, Titles, Salaries).filter(Employees.emp_title_id == Titles.title_id).filter(Employees.emp_no == Salaries.emp_no).limit(100).all()

for record in emps:
    (id, title, salary) = record
    print(f"id: {id.emp_no} title: {title.title} salary: ${salary.salary}")

id: 10001 title: Senior Engineer salary: $60117
id: 10002 title: Staff salary: $65828
id: 10003 title: Senior Engineer salary: $40006
id: 10004 title: Senior Engineer salary: $40054
id: 10005 title: Staff salary: $78228
id: 10006 title: Senior Engineer salary: $40000
id: 10007 title: Staff salary: $56724
id: 10008 title: Assistant Engineer salary: $46671
id: 10009 title: Senior Engineer salary: $60929
id: 10010 title: Engineer salary: $72488
id: 10011 title: Staff salary: $42365
id: 10012 title: Senior Engineer salary: $40000
id: 10013 title: Senior Staff salary: $40000
id: 10014 title: Engineer salary: $46168
id: 10015 title: Senior Staff salary: $40000
id: 10016 title: Staff salary: $70889
id: 10017 title: Staff salary: $71380
id: 10018 title: Senior Engineer salary: $55881
id: 10019 title: Staff salary: $44276
id: 10020 title: Engineer salary: $40000
id: 10021 title: Technique Leader salary: $55025
id: 10022 title: Engineer salary: $40000
id: 10023 title: Engineer salary: $47883
id: 10024 title: Assistant Engineer salary: $83733
id: 10025 title: Technique Leader salary: $40000
id: 10026 title: Senior Engineer salary: $47585
id: 10027 title: Senior Engineer salary: $40000
id: 10028 title: Engineer salary: $48859
id: 10029 title: Senior Engineer salary: $63163
id: 10030 title: Senior Engineer salary: $66956
id: 10031 title: Senior Engineer salary: $40000
id: 10032 title: Senior Engineer salary: $48426
id: 10033 title: Technique Leader salary: $51258
id: 10034 title: Staff salary: $47561
id: 10035 title: Senior Engineer salary: $41538
id: 10036 title: Senior Staff salary: $42819
id: 10037 title: Senior Engineer salary: $40000
id: 10038 title: Staff salary: $40000
id: 10039 title: Staff salary: $40000
id: 10040 title: Senior Engineer salary: $52153
id: 10041 title: Staff salary: $56893
id: 10042 title: Staff salary: $81662
id: 10043 title: Senior Engineer salary: $49324
id: 10044 title: Technique Leader salary: $40919
id: 10045 title: Engineer salary: $41971
id: 10046 title: Staff salary: $40000
id: 10047 title: Senior Engineer salary: $54982
id: 10048 title: Engineer salary: $40000
id: 10049 title: Staff salary: $40000
id: 10050 title: Staff salary: $74366
id: 10051 title: Senior Engineer salary: $48817
id: 10052 title: Staff salary: $57212
id: 10053 title: Senior Staff salary: $67854
id: 10054 title: Staff salary: $40000
id: 10055 title: Staff salary: $80024
id: 10056 title: Senior Engineer salary: $48857
id: 10057 title: Senior Engineer salary: $49616
id: 10058 title: Senior Staff salary: $52787
id: 10059 title: Senior Staff salary: $71218
id: 10060 title: Staff salary: $74686
id: 10061 title: Senior Staff salary: $68577
id: 10062 title: Senior Engineer salary: $55685
id: 10063 title: Senior Engineer salary: $40000
id: 10064 title: Staff salary: $40000
id: 10065 title: Engineer salary: $40000
id: 10066 title: Senior Engineer salary: $69736
id: 10067 title: Senior Engineer salary: $44642
id: 10068 title: Staff salary: $87964
id: 10069 title: Technique Leader salary: $67932
id: 10070 title: Technique Leader salary: $55999
id: 10071 title: Staff salary: $40000
id: 10072 title: Senior Engineer salary: $40000
id: 10073 title: Engineer salary: $56473
id: 10074 title: Technique Leader salary: $61714
id: 10075 title: Senior Engineer salary: $43815
id: 10076 title: Senior Engineer salary: $47319
id: 10077 title: Staff salary: $40000
id: 10078 title: Engineer salary: $47280
id: 10079 title: Technique Leader salary: $53492
id: 10080 title: Staff salary: $54916
id: 10081 title: Senior Engineer salary: $55786
id: 10082 title: Staff salary: $48935
id: 10083 title: Senior Engineer salary: $40000
id: 10084 title: Senior Engineer salary: $69811
id: 10085 title: Senior Engineer salary: $40000
id: 10086 title: Staff salary: $81613
id: 10087 title: Staff salary: $96750
id: 10088 title: Staff salary: $65957
id: 10089 title: Staff salary: $56469
id: 10090 title: Senior Engineer salary: $44978
id: 10091 title: Senior Engineer salary: $40000
id: 10092 title: Engineer salary: $53977
id: 10093 title: Staff salary: $67856
id: 10094 title: Senior Staff salary: $58001
id: 10095 title: Staff salary: $63668
id: 10096 title: Engineer salary: $61395
id: 10097 title: Staff salary: $44886
id: 10098 title: Senior Engineer salary: $40000
id: 10099 title: Staff salary: $68781
id: 10100 title: Staff salary: $54398

In [17]:
# Merge the columns (Must be declaritive)
combined_data = pd.merge(Employees, Titles , on="emp_no", how="inner")
combined_data = pd.merge(combined_data, Salaries, on="emp_no", how="inner")
combined_data

TypeError: Can only merge Series or DataFrame objects, a <class 'sqlalchemy.ext.declarative.api.DeclarativeMeta'> was passed

In [13]:
#Epilogue, query Employee ID 499942
me = session.query(Employees).filter(Employees.emp_no == 499942)

for record in me:
    (id) = record
    print(f"My ID#: {id.emp_no} My Name: {id.first_name} {id.last_name}")

My ID#: 499942 My Name: April Foolsday